
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.message {
  display: absolute;
  z-index: 1000;
  background-color: #a8f0c6;
  width: 75%;
  height: auto;
  border-left: 5px solid #5a9071;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgb(225, 225, 225);
  padding:15px 5px 15px 10px;
}


.mainText {
  margin: auto;
  font-weight: 400;
  font-size: large;
  font-style: bold;
}
