@tailwind base;
@tailwind components;
@tailwind utilities;

.typeName {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.spining-pokeball {
  animation: animName 4s linear infinite;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

a {
  margin: 0 !important;
}

.curve {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 3rem 2rem;
  width: 100%;
  z-index: 2;
}
.curve::before {
  content: "";
  display: block;
  background: var(--bgColor);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 150vw;
  width: 300vw;
  height: 300vw;
  z-index: -1;
}
